nav(class="navbar navbar-expand-sm navbar-light bg-light  px-5")
  a(class="navbar-brand", href="/tweets") 
    img(src="/img/icon-twitter.png", width="30", height="30", class="d-inline-block align-top", alt="")
  button(class="navbar-toggler", type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
    span(class="navbar-toggler-icon")
  div(class="collapse navbar-collapse", id="navbarNav")
    ul(class="navbar-nav ms-auto")
      li(class="nav-item")
        a(class="btn btn-primary btn-tweet", href="/tweets/new") Tweet
      li(class="nav-item")
        a(class="nav-link", href="/users/login") Login
      li(class="nav-item")
        a(class="nav-link", href="/users/signup/form") Register