nav.navbar.navbar-expand-sm.navbar-light.bg-light.px-5
  a.navbar-brand(href="/tweets") 
    img(src="/img/icon-twitter.png", width="30", height="30", class="d-inline-block align-top", alt="Twitter Icon")
  button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
    span.navbar-toggler-icon
  div#navbarNav.collapse.navbar-collapse
    ul.navbar-nav.ms-auto.d-flex(style="gap: 15px;")
      if isAuthenticated
        li.nav-item
          a.btn.btn-primary.btn-tweet(href="/tweets/new") Tweet
        li.nav-item
          a.nav-link(href="/auth/signout") Déconnexion
      else
        li.nav-item
          a.nav-link(href="/auth/signin/form") Connexion
        li.nav-item
          a.nav-link(href="/users/signup/form") Inscription
