.content {
  max-width: 1000px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.profile-container {
  max-width: 300px;
  width: 30%;
}

.btn-tweet {
  color: #fff;
  background-color: #1da1f2;
  border-color: #1da1f2;
}

.b1 {
  border: 1px solid red;
}

.b2 {
  border: 1px solid rebeccapurple;
}