extends ../layout.pug

block content
  div(class="tweet-container d-flex gap-3")
    include ../includes/profile.pug
    div(class="flex-fill d-flex flex-column" id="tweet-list-container")
      include tweet-list.pug